body {
    background-color: 12-4306;
    margin: 0;
    padding: 0;
}
header {
    width: 100%; 
    overflow: hidden; 
}
.header-image {
    width: 100%; 
    height: 50%; 
}
.top-container {
    text-align: center;
    background-color: #fff;
    padding: 50px 0;
    position: relative;
}
.intro-text {
    position: absolute;
    top: -250px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.top-star,
.bottom-star {
    position: relative;
    top: -5px;
    width: 50px; 
    margin: 20px auto;
}
h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #333;
}
h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #555;
}
.titlee {

    font-size: large;
    text-align: left;
}
desc {
    font-size: large;
    text-align: left;
}
.pro {
    color: a3386c;
}

.middle-container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 0px;
}
.profile {
    text-align: center;
}
.profile img {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 5px solid #c45d7c;
}
.intro {
    font-style: italic;
    color: #777;
}
hr {
   display: block;
   margin-top: 0.5em;
}
.contact-me {
    text-align: center;
    margin-top: 30px;
}
.btn {
    background-color: FDA4BA; 
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.bottom-container {
    text-align: center;
    padding: 10px 0;
    background-color: F2B8C6; 
    color: #fff;
}
.footer-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.footer-link:hover {
    text-decoration: underline;
}
a:hover {
    color: #AA336A;
}
.skillone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    max-width: 1000px;
    color: #e75480;   
}
.oned {
    margin-left: 30px;
    max-width: 400px;
}
.design {
    font-size: 1.5em;
    color: #e75480;
    margin-left: 3px;
}
.graphic {
    font-size: 1.5em;
    color: #e75480;
    margin-left: 3px;
}
.d {
    color: #a53d5c;
    margin-left: 3px;
}
.myskills {
    text-align: center;
    color: #AA336A;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #333;
}
.vtextt {
    position: static;
    text-align: left;
    color: #555;
    font-size: 1.1em;
    line-height: 1.6;
}
.one {  
    width: 200px;
    height: 200px;
    margin-left: 0;
    border-radius: 100px;
}
.two {
    width: 200px;
    height: 200px;
    margin-left: 900px;
    margin-top: -150px;
    border-radius: 100px;
}
.helloworld {
    color: #c45d7c;
}
.graphic {     
    margin-left: 450px;
}
.i {
    color: #a53d5c;
    margin-left: 450px;
}
.intro {
    color: #c45d7c;
}
.contact {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #AA336A;
    text-shadow: #333;
}
.copyright {
    font-size: 12px;
    color: #a53d5c;
    margin-top: 15px;
}
.me {
    margin-top: -50px;
}
